.fire {
  color: white;
  background: red;
}

.normal {
  color: black;
  background: white;
}

.water {
  color: white;
  background: blue;
}

.ice {
  color: white;
  background: lightblue;
}

.rock {
  color: white;
  background: grey;
}

.grass {
  color: white;
  background: green;
}

.ground {
  color: white;
  background: brown;
}

.electric {
  color: black;
  background: yellow;
}

.flying {
  color: white;
  background: #914C1C;
}

.psychic {
  color: white;
  background: purple;
}

.ghost {
  color: white;
  background: black;
}