.fire {
  color: white;
  background: red;
}

.fire:hover {
  background: white;
  color: red;
}

.normal {
  color: black;
  background: white;
}

.normal:hover {
  background: black;
  color: white;
}

.water {
  color: white;
  background: blue;
}

.water:hover {
  background: white;
  color: blue;
}

.ice {
  color: white;
  background: lightblue;
}

.ice:hover {
  background: white;
  color: lightblue;
}


.rock {
  color: white;
  background: grey;
}
.rock:hover {
  background: white;
  color: grey;
}

.ground {
  color: white;
  background: brown;
}
.ground:hover {
  color: white;
  background: brown;
}

.electric {
  color: black;
  background: yellow;
}
.electric:hover {
  background: black;
  color: yellow;
}

.flying {
  color: white;
  background: #914C1C;
}
.flying:hover {
  background: white;
  color: #914C1C;
}

.psychic {
  color: white;
  background: purple;
}

.psychic:hover {
  background: white;
  color: purple;
}