h1:first-child {
  text-align: center;
  text-transform: uppercase;
}

.player-board {
  width: 400px;
  border: 2px solid black;
  margin-bottom: 50px;
}

#player-1{
  float: left;
  margin-left: 15%;
}

#player-2{
  float: right;
  margin-right: 15%;
}

.name, .health {
  margin-top: 50px;
  text-align: center;
}

.avatar {
  text-align: center;
  margin: 50px auto 0;
}

.avatar img {
  width: 100px;
  height: 100px;
}

/* Health Bar CSS */
.health-bar {
  height: 30px;
  width: 80%;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 0 auto;
  border-radius: 5px;
}

.remaining-health {
  top: 0;
  left: 0;
  position: absolute;
  height: inherit;
  width: 100%; /* this will decrease as health drops */
  background: green;
  border-radius: 4px;
}

/* End Health Bar CSS */

/* Begin CSS for moves */
.moves {
  margin-top: 50px;
  text-align: center;
}

.moves ul {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.moves li {
  margin-top: 10px;
  padding: 5px 0;
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
}

.fire {
  color: white;
  background: red;
}

.normal {
  color: black;
  background: white;
}

.water {
  color: white;
  background: blue;
}

.ice {
  color: black;
  background: lightblue;
}

.rock {
  color: white;
  background: grey;
}

.ground {
  color: white;
  background: brown;
}

.electric {
  color: black;
  background: yellow;
}

.flying {
  color: white;
  background: #914C1C;
}

.psychic {
  color: white;
  background: purple;
}

/* End CSS for moves */

.party-pokemon {
  margin-top: 50px;
  text-align: center;
}

.party {
  position: relative;
  border-radius: 100px;
  padding-top: 15px;
  display: inline-block;
  box-sizing: border-box;
}

.party img {
  width: 50px;
  height: 50px;
}

.party img.rotate {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.tooltip {
  position: absolute;
  bottom: 55px;
  left: -5px;
  padding: 5px;
  border: 2px solid black;
  color: black;
  background: #ccc;
  width: 130%;
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.hide {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.options {
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}
